@model FE_PegawaiKontrak.Models.Cabang

@{
    ViewData["Title"] = "Edit Cabang";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post" class="p-4 border rounded shadow-sm">
    <input type="hidden" asp-for="Id" />

    <input type="hidden" asp-for="KodeCabang" />

    <div class="mb-3">
        <label asp-for="NamaCabang" class="form-label"></label>
        <input asp-for="NamaCabang" class="form-control" />
        <span asp-validation-for="NamaCabang" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-bni">Simpan Perubahan</button>
    <a asp-action="Index" class="btn btn-secondary">Kembali</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
